<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col align-self-center">
            <form class="box">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-md-6">
                        <h1>COMPILADORES 2</h1>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <br>
                <h2>Carné: 201903865</h2>
                <h2>Nombre: Diego Andrés Obin Rosales</h2>

                <input (click)="Login()" type="submit" name="" value="Análisis" href="#">
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>